<footer class="bg-gray-900 text-white pt-8 pb-8">
    <!-- Organizers Section -->
    
      
      <div class="max-w-6xl mx-auto px-4">
      <!-- <div class="flex justify-center items-center space-x-3 mb-6 bg-white text-green-300 rounded-b-2xl">
        <a class="hover:scale-105" href="https://www.iitb.ac.in/" target="_blank"><img  src={iitb.src} alt="IIT Bombay"  decoding="async"></a>
        <a class="hover:scale-105" href="https://fossee.in/" target="_blank"> <img src={fossee.src} alt="FOSSEE"  decoding="async"></a>
          <a class="hover:scale-105" href="https://spoken-tutorial.org/" target="_blank"> <img src={st.src} alt="Spoken Tutorial"  decoding="async"></a>
      </div> -->

      <!-- Social Media & Contact Info -->
      <div class="flex justify-between items-center mt-8">
        <!-- Social Media -->
        <div class="space-y-2">
          <p class="font-semibold">Follow us:</p>
          <div class="flex space-x-4">
            <a href="https://www.facebook.com/FOSSEENMEICT/" target="_blank"><img src="https://img.icons8.com/ios-filled/50/ffffff/facebook--v1.png"  alt="Facebook" class="h-6 bg-[#0866ff] "></a>
            <a href="https://twitter.com/FOSSEE/" target="_blank"><img src="https://img.icons8.com/ios-filled/50/ffffff/twitter--v1.png" alt="Twitter" class="h-6 bg-[#1da1f2] "></a>
            <a href="https://www.instagram.com/fossee_nmeict/" target="_blank"><img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new--v1.png" alt="Instagram" class="h-6 instagram "></a>
            <a href="https://www.linkedin.com/company/fossee-iitb/" target="_blank"><img src="https://img.icons8.com/ios-filled/50/ffffff/linkedin--v1.png" alt="LinkedIn" class="h-6 bg-[#52abd5] "></a>
          </div>
        </div>

        <!-- Contact Information -->
        <div class="space-y-2 text-right">
          <p class="font-semibold">Contact us:</p>
          <a href="mailto:contact@scilab.in" class="text-gray-300 hover:text-white">contact@scilab.in</a>
        </div>
      </div>
   <hr>

        <div class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-4">
          
          <!-- About Section -->
          <div>
            <h5 class="text-xl font-semibold mb-4">About</h5>
            <ul class="space-y-2 text-sm">
              <li><a class="text-gray-400 hover:text-white" href="https://fossee.in" target="_blank">FOSSEE</a></li>
            </ul>
          </div>
      
          <!-- FOSSEE Section -->
          <div>
            <h5 class="text-xl font-semibold mb-4">FOSSEE</h5>
            <ul class="space-y-2 text-sm">
              <li><a class="text-gray-400 hover:text-white" href="https://scilab.in" target="_blank">Scilab.in</a></li>
              <li><a class="text-gray-400 hover:text-white" href="https://cloud.scilab.in" target="_blank">Scilab on Cloud</a></li>
              <li><a class="text-gray-400 hover:text-white" href="https://xcos.scilab.in" target="_blank">Xcos on Cloud</a></li>
              <li><a class="text-gray-400 hover:text-white" href="https://rcloud.fossee.in" target="_blank">R on Cloud</a></li>
            </ul>
          </div>
      
          <!-- Resources Section -->
          <div>
            <h5 class="text-xl font-semibold mb-4">Resources</h5>
            <ul class="space-y-2 text-sm">
              <li><a class="text-gray-400 hover:text-white" href="https://www.scilab.org/" target="_blank">Scilab.org</a></li>
              <!-- <li><a class="text-gray-400 hover:text-white" href="https://atoms.scilab.org/" target="_blank">ATOMS</a></li> -->
            </ul>
          </div>
      
          <!-- License Section -->
          <div>
            <small class="text-gray-400">
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="image/88x31.png">
              </a><br>This work is licensed under a 
              <a class="text-gray-400 hover:text-white" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </small>
          </div>
      
        </div>
  
      
    </div>

    
  </footer>
  <!-- Footer Note -->
  <div class="bg-black py-9">

    <div class="text-center text-s text-gray-500 ">
        <p>The FOSSEE project is part of the National Mission on Education through Information and Communication Technology (ICT), Ministry of Education (MoE), Government of India.</p>
      </div>
  </div>
  <style>
    .instagram{
      background:linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
    }
    .hr-lines:before{
  content:" ";
  display: block;
  height: 3px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #036672;
}
.hr-lines{
  position: relative;
  /*  new lines  */
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
}
.hr-lines:after{
  content:" ";
  height: 3px;
  width: 130px;
  background: #036672;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
@media screen and (max-width:998px) {
  .hr-lines:after{

  width: 30px;
  
}
.hr-lines:before{

  width: 30px;

}
  
}
  </style>
